<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<%- include('./partials/head.ejs') %>
</head>
<body class="container">
	<%- include('./partials/header.ejs') %>
	<%= title %>
	<div class="col-xs-8 col-xs-offset-2">
		<h2 class="text-center ">TABLAS DE TAREA</h2>


					<form method="post" role="form" >
						<div class="form-group">
							<label for="title">title:</label>
							<input 
							type="text" 
							name="title" 
							id="title" 
							class="form-control" 
							placeholder="entry a new title" 
							required="">
						</div>


						<div class="form-group">
							<label for="body">Entry text</label>
							<textarea
							class="form-control" 
							id="body"
							name="body"
							rows="3"
							required>

						</textarea>

						<div class="form-group">

							<input 
							type="submit"
							value="post entry" 
							class="btn btn-primary">

						</div>


				</form>
		
		


</body>
</html>